[submodule "src/template"]
	path = externals/template
	url = https://github.com/bungle/lua-resty-template
[submodule "src/lang-cpp/sol2"]
	path = src/lang-cpp/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "externals/luasocket"]
	path = externals/luasocket
	url = http://github.com/diegonehab/luasocket
[submodule "externals/luacc"]
	path = externals/luacc
	url = http://github.com/mihacooper/luacc
[submodule "src/effil"]
	path = externals/effil
	url = https://github.com/loud-hound/effil
[submodule "src/json"]
	path = externals/json
	url = https://github.com/craigmj/json4lua
