[submodule "src/template"]
	path = src/template
	url = https://github.com/bungle/lua-resty-template
[submodule "src/lang-cpp/sol2"]
	path = src/lang-cpp/sol2
	url = https://github.com/ThePhD/sol2.git
